<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="template">
      <h2>The message length need to be between 3-5</h2>
      <input v-model="message" />
      the message is currently: {{ message }}
      <div>
        <button v-bind:disabled="!message" v-on:click="submit">send</button>
      </div>
      <pre id="if" v-if="response.length">response: {{ response }}</pre>
      <pre id="else" v-else>please send the message</pre>
    </div>

    <script>
      var vm = new Vue({
        el: "#template",
        data() {
          return {
            message: "",
            response: ""
          };
        },
        methods: {
          submit() {
            this.response = "";
            let len = this.message.length;
            if (len < 3 || len > 5)
              this.response = `message length need to be between 3-5, but now it is ${len}`;
            else this.response = `message length is between 3-5, well done ✌`;
          }
        }
      });
    </script>
  </body>
</html>
